@model OnlineShopping.Models.accdet

@{
    ViewBag.Title = "ThankYouPage";
}

<h2 style="text-align:center; font-family:'Courier New'; "><i><b>We avail only COD. Your order will be at your doorstep soon... </b></i></h2>
<br />
<p><h1 style="text-align:center; font-family:'Courier New' "><i><b>Thank you for shopping with us!</b></i></h1></p>

@*<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>PhoneNumber</th>
        <th>AlternatePhoneNumber</th>
        <th>PinCode</th>
        <th>City</th>

    </tr>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.PhoneNumber</td>
        <td>@Model.AlternatePhoneNumber</td>
        <td>@Model.PinCode</td>
        <td>@Model.City</td>
    </tr>
</table>*@
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Continue Shopping", "Index","Home")
</p>
